@import 'variables.css';

.main {
	a {
		display : inline;
	}
	.outer {
		background : var(--color-black);
		color : var(--color-text-smoke);
		height : 60px;
		.inner {
			margin : auto;
			.hamburger {
				width : 0;
				visibility : hidden;
				margin : 0;
				cursor : pointer;
			}
			.logo-container {
				line-height : 60px;
				font-size : 16px;
			}
			.links-static {
				font-size : 12px;
				float : right;
				padding-right : 16px;
				cursor : pointer;
				padding-left : 16px;
			}
			.links-static img {
				width: 20px;
				float: left;
				border-radius: 50%;
				margin: 20px 8px -20px 0;
			}
			.links-static:hover {
				color : var(--color-text-mute);
			}
			.links-dynamic {
				font-size : 12px;
				line-height : 60px;
			}
			.links-dynamic ul li {
				padding-right : 16px;
				cursor : pointer;
			}
			.links-dynamic ul li:hover {
				color : var(--color-text-mute);
			}
			.logo-img {
				float : left;
				width : 24px;
				margin : 16px 8px 0 42px;
			}
			.search-input {
				background-image: url('/assets/search-icon.svg');
				background-color: var(--color-background);
				background-repeat: no-repeat;
				height: 24px;
				background-size: 14px;
				background-position: 6px 50%;
				padding: 0 26px;
				color: var(--color-text-mute);
				border-radius: 4px;
				border : none;
				line-height : 24px;
			}
			.search-input:focus {
				outline : none;
			}
			@media only screen and (max-width: 767px) {
				.hamburger {
					visibility : visible;
					width : 24px;
					margin : 8px 0 0 12px;
					float : left;
				}
				.links-dynamic {
					background : var(--color-grade-1);
				}
				.links-dynamic ul li {
					width : 100%;
					padding-left : 16px;
				}
				.logo-container {
					text-align : center;
				}
				.logo-img {
					float : none;
					margin : 0 8px -4px 12px;
					width : 20px;
				}
			}
		}
	}
	
}
