@import 'variables.css';

.main {
	.outer {
		background : var(--color-black);
		color : var(--color-white);
		height : 42px;
		.inner {
			max-width : 1024px;
			margin : auto;
			.logo-container {
				line-height : 42px;
				font-size : 16px;
			}
			.logo-img {
				float : left;
				width : 24px;
				margin : 8px 8px 0 16px;
			}
			@media only screen and (max-width: 767px) {
				.logo-container {
					text-align : center;
				}
				.logo-img {
					float : none;
					margin : 0 8px -6px 0;
				}
			}
		}
	}
	.subtitle {
		height : 60px;
		background : var(--color-grey-1);
	}
}
