@import 'variables.css';

.main {
		height: 50px;
		background: var(--color-smoke);
		text-align: center;
		line-height: 50px;
		font-size: 14px;
		border-bottom : 1px solid var(--color-border-smoke);
		color : var(--color-text-basic);
	.inner {
		.sort-container {
			
		}
		.sort-container ul li {
			margin : 0 16px;
			cursor : pointer;
		}
		.selected {
			font-weight : 600;
		}
	}
}
