.outer {
	.img-container {
		text-align : center;
		margin-top : 24px;
		.image {
			max-width : 160px;
		}
	}
	.title {
		text-align : center;
		font-size : 42px;
		max-width : 75%;
		margin : auto;
		margin-top : 32px;
		font-weight : 100;
	}
	.subtitle {
		text-align : center;
		font-size : 16px;
		width : 100%;
		margin : auto;
		margin-top : 8px;
		font-weight : 100;
	}
	.cta {
		cursor : pointer;
		transition : transform 0.3s;
		width: 100px;
		background: #ff6e21;
		text-align: center;
		padding: 10px 4px;
		color: #fff;
		margin: auto;
		margin-top: 24px;
		border-radius : 28px;
		transform : perspective(1px) translateZ(0);
	}
	.cta:hover {
		transform : scale(1.05);
	}
}
