.outer {	
	max-width : 1200px;
    width: 80%;
    margin: auto;
    line-height: 72px;
	.logo {	
	    float : left;
	}
	.icon {
		margin-right: 8px;
		width: 32px;
		margin-bottom: -9px;
	}
	.link {
		font-weight : 100;
		font-size : 14px;
		float : right;
	}
	.navbar {
		font-size : 14px;
		font-weight : 100;
		width : auto;
		float : right;
		line-height : 50px;
		.navList li {
			cursor : pointer;
			padding-left : 16px;
		
		}
		.userName {
			position : relative;
			font-weight : 400;
		}
		.profilePhoto {
			border-radius : 50%;
			max-width : 16px;
			margin-bottom : -3px;
			margin-right : 4px;	
		}
	}

}
