@import 'variables.css';

.outer {
	cursor : pointer;
	padding : 8px;
	border-radius : 2px;
	text-align : center;
	background : var(--color-primary);
	color : var(--color-text-smoke);
}

.outer:hover {
	background : var(--color-primary-hover);
}
