@import 'variables.css';

.main {
    margin : 16px;
	text-align : left;
	width : 320px;
	float : left;
	.container {
		.upper-container {
			position : relative;
			.video-container {
				background : black;
			}
			.video-container img {
				display : block;
				height : 100%;
				width : 100%;
			}
			.play-button-container {
				height : 100%;
				width : 100%;
				position : absolute;
				left : 0;
				top : 0;
				opacity : 0;
				cursor : pointer;
				transition : opacity 0.5s;
			}
			.play-button-container:hover {
				opacity : 1;
			}
			.play-button {
				position : absolute;
				top : 50%;
				left : 50%;
				cursor : pointer;
			}
			.play-button img {
				display : block;
				box-shadow : 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
				border-radius : 50%;
				margin : -24px 0 0 -24px;
			}
			.overlay-container {
				font-size : 12px;
				color : var(--color-white);
				background : rgba(0, 0, 0, 0.15);
				position : absolute;
				width : 100%;
				bottom : 0;
				height : 32px;
				.like-container {
					display : inline-block;
				}
				.like-container img {
					padding : 4px;
					float : left;
				}
				.like-container span {
					line-height : 32px;
				}
				.location-container {
					display : inline-block;
					line-height : 32px;
					float : right;
					margin : 0 8px;
				}
			}
	}
		.bottom-container {
			.bottom-inner-container {
				margin : auto;
				height : 32px;
				.profile-picture {
					display : inline-block;
					float : left;
				}
				.profile-picture img {
					border-radius : 50%;
					width : 20px;
					margin-top : 6px;
					margin-left : 8px;
				}
				.profile-name {
					cursor : pointer;
					font-size : 14px;
					line-height : 32px;
					margin : 0 8px;
					display : inline-block;
				}
				.city {
					display : inline-block;
					line-height : 32px;
				}
				.city span {
					font-size : 14px;
					color : var(--color-grey-2)
				}
			}
		}
	}
}

@media only screen and (min-width: 711px) {
	.main {
		margin : 16px;
		width : 320px;
	}	
	.video-container {
		min-height : 180px;
	}
}

@media only screen and (max-width: 710px) {
	.main {
		margin : 5% 5% 0 5%;
		width : 90%;
	}	
	.video-container {
		min-height : 160px;
	}
	
}

