@import 'variables.css';

.main {
    margin : 16px;
	text-align : left;
	width : 320px;
	float : left;
	.container {
		.upper-container {
			position : relative;
			.video-container {
				height : 180px;
				background : black;
			}
			.video-container img {
				height : 100%;
				width : 100%;
			}
			.overlay-container {
				font-size : 12px;
				color : var(--color-white);
				background : rgba(0, 0, 0, 0.15);
				position : absolute;
				width : 100%;
				bottom : 0;
				height : 32px;
				.like-container {
					display : inline-block;
				}
				.like-container img {
					padding : 4px;
					float : left;
				}
				.like-container span {
					line-height : 32px;
				}
				.location-container {
					display : inline-block;
					line-height : 32px;
					float : right;
					margin : 0 8px;
				}
			}
	}
		.bottom-container {
			.bottom-inner-container {
				margin : auto;
				height : 32px;
				.profile-picture {
					display : inline-block;
					float : left;
				}
				.profile-picture img {
					border-radius : 50%;
					width : 20px;
					margin-top : 6px;
					margin-left : 8px;
				}
				.profile-name {
					font-size : 14px;
					line-height : 32px;
					margin : 0 8px;
					display : inline-block;
				}
			}
		}
	}
}

@media only screen and (min-width: 711px) {
	.main {
		margin : 16px;
		width : 320px;
	}	
}

@media only screen and (max-width: 710px) {
	.main {
		margin : 5% 5% 0 5%;
		width : 90%;
	}	
}

