@import 'variables.css';

.main {
	z-index : 10;
	overflow : scroll;
	background-color : rgba(0, 0, 0, 0.95);
	position : fixed;
	height : 100%;
	width : 100%;
	top : 0;
	text-align : center;
	color : var(--color-white);
	.container {
		max-width : 300px;
		margin : 0 auto;
		position : relative;
		top : 25%;
		.title {
			padding : 24px;
			font-size : 24px;
		}
		.message {
			display : inline-block;
			cursor : pointer;
			padding : 24px;
			font-size : 10px;
		}
	}
}
