@import 'variables.css';

.main {
	background : var(--color-black);
	background : url('/assets/featuredShowreel.jpg') no-repeat center center;
	background-size : cover;
	color : var(--color-white);
	height : 400px;
	width : 100%;
	text-align : center;
	position : relative;
	.inner {
		position : absolute;
		width : 100%;
		height : 100%;
		padding : 150px 0;
		.title {
			font-size : 32px;
		}
		.data {
		
		}
		.data span {
		}
		.data img {
			border-radius : 50%;
			width : 24px;
		}
	}	
}

@media only screen and (max-width: 710px) {
	.main {
		height : 200px;
		.inner {
			padding : 75px 0;
		}
	}
}
