body {
	margin : 0;
	padding : 0;
	width : 100%;
	font-family : sans-serif;
	background : #efefef;
}

li {
	list-style : none;
	display : inline-block;
}

ul {
	margin : 0;
	padding : 0;
}

a {
	text-decoration : none;
	color : inherit;
	display : block;
	cursor : pointer;
}

.hidden {
	visibility : collapsed;
	height : 0;
	width : 0;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;

}

.overlay {
	background-color:transparent;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
}

.overlay-black {
	background-color:rgba(0, 0, 0, 0.3);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
}
