.outer {
	position : absolute;
	min-width : 112px;
	background : #fff;
	border-radius : 4px;
	color : #3f3f3f;
	font-size : 14px;
	line-height : 32px;
	margin-top : -6px;
	.option {
		padding : 0 8px;
	}
	.option:hover {
		background : #efefef;
		border-radius : 4px;
	}
}
