@import 'variables.css';

.outer {
	max-width : 768px;
	.heading {
		line-height : 32px;
		border-bottom : 1px solid var(--color-grey-2);
		font-weight : 600;
		color : var(--color-black); 
	}
	 .error {
		font-weight : 100;
		font-size : 14px;
		color : red;
		background : #efefef;
		border-radius : 4px;
		padding : 8px;
		margin : 32px 0;
	 }
	.title {
		font-size : 20px;
		text-align : center;
		line-height : 32px;
	}
	.button {
		width : 150px; 
	}	
}

.outer-input {
	width : 100%;
	.title-input {
		font-size : 16px;
		padding : 0 8px;
	}
	.inputContainer {
	}
	.inputContainer input {
		font-size : 14px;
		width : 100%;
		padding: 10px 8px;
		border: none;
		background : var(--color-grey-2);
		border-radius : 4px;
		transition: border 0.3s;
	}
	.inputContainer input:focus {
		outline : none;
		border-bottom: solid 1px #ff6e21;
	}
	.inputContainer textarea {
		font-size : 14px;
		resize : none;
		height : 100px;
		width : 100%;
		padding : 10px 8px;
		border : none;
		background : var(--color-grey-2);
		border-radius : 4px;
		transition : border 0.3s;
	}
	.inputContainer textarea:focus {
		outline : none;
		border : solid 1px #ff6e21;
	}
}
