@import 'variables.css';

.outer {
	max-width : 1024px;
	width : 95%;
	margin : 24px auto;
	.inner {
		max-width : 700px;
	}
	.heading {
		line-height : 32px;
		font-weight : 600;
		color : var(--color-text-basic); 
	}
	 .error {
		font-weight : 100;
		font-size : 14px;
		color : red;
		background : #efefef;
		border-radius : 4px;
		padding : 8px;
		margin : 32px 0;
	 }
	.title {
		font-size : 20px;
		text-align : center;
		line-height : 32px;
	}
	.button {
		width : 96px;
		font-size : 12px; 
	}	
}

.outer-input {
	width : 100%;
	margin : 24px 0;
	.title-input {
		color : var(--color-text-basic);
		font-size : 14px;
		margin : 0 0 8px 0;
		font-weight : 600;
	}
	.inputContainer {
	}
	.inputContainer input {
		font-size : 14px;
		width : 100%;
		padding: 10px 8px;
		border: none;
		background : var(--color-border-smoke);
		border-radius : 4px;
		transition: border 0.3s;
	}
	.inputContainer input:focus {
		outline : none;
	}
	.inputContainer textarea {
		font-size : 14px;
		resize : none;
		height : 100px;
		width : 100%;
		padding : 10px 8px;
		border : none;
		background : var(--color-border-smoke);
		border-radius : 4px;
		transition : border 0.3s;
	}
	.inputContainer textarea:focus {
		outline : none;
	}
}

.message {
	font-size : 14px;
	padding : 8px 4px;
}
