@import 'variables.css';

.main {
	color : var(--color-text-basic);
	font-weight : 600;
	font-size : 44px;
	text-align : left;
	width : 95%;
	max-width : 1024px;
	margin : auto;
	padding : 24px 0 8px 0;
	border-bottom : 1px solid var(--color-border-smoke);
}

