@import 'variables.css';

a {
	display : inline-block;
}
.main {
	.subtitle {
		height : 96px;
		background : var(--color-grade-1);
		color : var(--color-text-mute);
		text-align : center;
	}
	.subtitle-text {
		display : inline;
		font-size : 16px;
		line-height : 96px;
		margin : 0 8px 0 0;
	}
	.subtitle-button {
		display : inline;
	}
	.button-custom-st {
		display : inline-block;
		font-size : 12px;
	}

	.banner-main {
		margin : 32px auto;
		text-align : center;
		border : 1px solid var(--color-border-smoke);
		background : var(--color-smoke);
		color : var(--color-text-title);
		.banner-l1 {
			font-size : 18px;
			padding : 18px 0 0 0;
			display : block;
		}
		.banner-l1 span {
			color : var(--color-primary);
		}
		.banner-l2 {
			font-size : 24px;
			padding : 8px 0;
			display : block;
		}
		.banner-button {
			padding : 0 0 18px 0;
			display : block;
			font-size : 12px;
		}
	}	

	@media only screen and (max-width: 767px) {
		.subtitle {
			height : auto;
		}
		.subtitle-text {
			line-height : 24px;
			display : block;
			padding : 24px 24px 16px 24px;
		}
		.subtitle-button {
			display : block;
			padding : 0 0 24px 0;
		}
	}

	.sgTitle-outer {
		font-size : 14px;
		line-height : 32px;
		margin : 16px 0 0 0;
		color : var(--color-text-title);
		.sgTitle-inner {
			margin : auto;
		}
		.sgTitle-inner span {
			
		}
	}

	@media only screen and (max-width: 710px) {
		.sgTitle-inner {
			max-width : 100%;
			text-align : center;
		}
	}
	@media only screen and (max-width: 1200px) {
		.sgTitle-inner {
			max-width : 672px;
		}
	}
	@media only screen and (min-width: 1201px) {
		.sgTitle-inner {
			max-width : 1024px;
		}
	}
}


